@import url(https://fonts.googleapis.com/css?family=Lora);

body {
	margin: 0;
	background-image: url("https://imgur.com/X3DqHim.jpg");
	background-color: black;
	color: black;
	font: 300 12px "M+ 1c", sans-serif;
}

article {
	float: left;
	display: flex;
  flex-flow: row wrap;
}

article > pre {
	width: 300px;
}

deck > pre {
	font-size: 75%
}

div.img {
	position: relative;
	margin: 15px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

img.card {
	width: 199px;
	height: 277px;
}

img.fullart {
	border: 7px solid #000000;
	border-radius: 10px;
	width: 313px;
	height: 228px;
}

deck {
	margin: 40px auto;
	position: relative;
	background: hsla(0,0%,100%,0.3);
	font: 300 larger;
	font-size: 20px;
	font-family: 'Lora', sans-serif;
	white-space: pre-wrap;
	border-radius: 10px;
	width: 350px;
	height: relative;
	box-shadow: 5px 3px 30px black;
	overflow: hidden;
}

deck::before {
	content: '';
	margin: -35px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	filter: blur(20px);
	z-index: -1;
}

pre {
	margin: 15px 15px 0;
	font-family: 'Lora', sans-serif;
	white-space: pre-wrap;
}
